# ----------------------------------------------------------------------
# Fill in the variable and save as (.env) not (env_example.txt) 
# ----------------------------------------------------------------------

WIKIFIER_USERKEY=""