[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
ipykernel = "*"
regex = "*"
numpy = "*"
pandas = "*"
altair = "==4.1.0"
plotly = "==5.3.1"

[requires]
python_version = "3.8"
